n8n-workflow.json
{
  "name": "Astrology Insight Email Workflow",
  "nodes": [
    {
      "id": "webhook-in",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 260],
      "parameters": {
        "httpMethod": "POST",
        "path": "astrology-insight",
        "responseMode": "onReceived",
        "responseData": "json",
        "responseBody": {
          "success": true,
          "message": "Request received. You will get an email shortly."
        }
      }
    },
    {
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [540, 260],
      "parameters": {
        "functionCode": "const item = items[0];\nconst data = item.json;\n\nconst disclaimer = `IMPORTANT: These astrology reflections are for personal insight and reflection only. They should not be treated as facts, predictions of the future, or a substitute for professional advice in areas such as health, finance, or mental wellbeing.`;\n\nconst focusMap = {\n  career: 'career, vocation, and professional direction',\n  health: 'health, wellbeing, and lifestyle balance',\n  relationships: 'relationships, connection, and emotional patterns',\n  personal_growth: 'personal growth, inner development, and self-knowledge',\n  finances: 'finances, material stability, and resources',\n  general: 'overall life themes and personal tendencies'\n};\n\nconst focusDescription = focusMap[data.focusArea] || 'overall life themes and personal tendencies';\n\nconst systemPrompt = `You are a careful, ethical astrologer. You interpret astrological symbolism in a grounded, non-deterministic way.\n\nRules you MUST follow:\n- Speak in terms of tendencies, possibilities, and reflections.\n- Do NOT make absolute, fatalistic, or extreme claims.\n- Avoid medical, legal, or financial advice.\n- Encourage the person to use their own judgment and free will.\n- Keep a warm, respectful, inclusive tone.\n- Keep paragraphs short and readable.\n- At the end, include a short disclaimer that these insights are for reflection and guidance only, not factual predictions.\n`;\n\nconst userPrompt = `Person details:\n- Full name: ${data.fullName || 'N/A'}\n- Date of birth: ${data.dateOfBirth || 'N/A'}\n- Time of birth: ${data.timeOfBirth || 'not provided'}\n- Place of birth: ${data.placeOfBirth || 'N/A'}\n- Gender (if shared): ${data.gender || 'not specified'}\n- Area of focus: ${focusDescription}\n\nAdditional context from the person (may be empty):\n${data.extraContext || 'No extra context provided.'}\n\nTask:\nWrite a structured astrology-style reflection for this person, focusing especially on ${focusDescription}.\n\nStructure your response in Markdown with the following sections:\n1. Short introduction (2–3 sentences)\n2. Key themes (use bullet points)\n3. Focus area insights (1–3 short paragraphs)\n4. Practical reflection prompts (3–5 bullet points)\n5. Gentle closing and disclaimer.\n`;\n\nreturn [{\n  json: {\n    rawData: data,\n    systemPrompt,\n    userPrompt,\n    email: data.email,\n    fullName: data.fullName,\n    disclaimer\n  }\n}];\n"
      }
    },
    {
      "id": "ai-call",
      "name": "AI Astrologer",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [820, 260],
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "messages": [
          {
            "role": "system",
            "text": "={{$json[\"systemPrompt\"]}}"
          },
          {
            "role": "user",
            "text": "={{$json[\"userPrompt\"]}}"
          }
        ]
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "id": "build-email",
      "name": "Build Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 260],
      "parameters": {
        "functionCode": "const aiContent = items[0].json.choices?.[0]?.message?.content || '';\nconst meta = items[0].pairedItem?.item || 0;\n\n// Access original data from the paired item (Prepare Prompt)\nconst original = $items('Prepare Prompt', 0, meta).json;\n\nconst subject = `Astrology Insight for ${original.fullName || 'You'}`;\n\nconst body = `Hello ${original.fullName || 'there'},\\n\\n` +\n  `Here is your personalized astrology-style reflection, created using your birth details and area of focus.\\n\\n` +\n  `${aiContent}\\n\\n` +\n  `\\n---\\n` +\n  `This message was generated by an AI model following strict guidelines to avoid harmful, extreme, or absolute claims. ` +\n  `It is intended for reflection and guidance only, and should not replace professional advice in any domain.`;\n\nreturn [{\n  json: {\n    toEmail: original.email,\n    subject,\n    body\n  }\n}];\n"
      }
    },
    {
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1340, 260],
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "={{$json[\"toEmail\"]}}",
        "subject": "={{$json[\"subject\"]}}",
        "text": "={{$json[\"body\"]}}"
      },
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "AI Astrologer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Astrologer": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "astrology-insight-demo-v1",
  "meta": {
    "templateCreds": true
  },
  "id": "AstrologyInsightWorkflow"
}

